<div class="form mt-2 ml-2" >
    <form method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" name="nguyen" class="form-control"">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>